@charset 'utf-8';

@import 'node_modules/nostromo-css/sass/helpers/variables';
@import 'node_modules/nostromo-css/sass/helpers/theme';

/* Coolors Exported Palette - coolors.co/2364aa-50514f-5b507a-fffcff-c3b299 */

/* HSL */
$color1: hsla(211%, 66%, 40%, 1);
$color2: hsla(90%, 1%, 31%, 1);
$color3: hsla(256%, 21%, 40%, 1);
$color4: hsla(300%, 100%, 99%, 1);
$color5: hsla(36%, 26%, 68%, 1);

/* RGB */
$color1: rgba(35, 100, 170, 1);
$color2: rgba(80, 81, 79, 1);
$color3: rgba(91, 80, 122, 1);
$color4: rgba(255, 252, 255, 1);
$color5: rgba(195, 178, 153, 1);

// Globals variables

//Theming
$myColors: (
  'primary': $color1,
  'secondary': $color2,
  'tertiary': $color3,
  'font-primary': $color4,
  'font-secondary': $color4,
  'white': $color4
);

$myFonts: (
  'primary': 'Indie Flower',
  'secondary': 'Indie Flower',
);

$colors: map-merge($colors, $myColors);
$fonts: map-merge($fonts, $myFonts);

@import 'node_modules/nostromo-css/default';
