@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700');

@import 'node_modules/nostromo-css/sass/helpers/variables';
@import 'node_modules/nostromo-css/sass/helpers/theme';

/* Coolors Exported Palette - coolors.co/2364aa-50514f-5b507a-fffcff-c3b299 */

/* HSL */
$color1: hsla(201%, 60%, 15%, 1);
$color2: hsla(90%, 1%, 31%, 1);
$color3: hsla(256%, 21%, 40%, 1);
$color4: hsla(300%, 100%, 99%, 1);
$color5: hsla(36%, 26%, 68%, 1);


// Globals variables

//Theming
$myColors: (
  'primary': $color1,
  'secondary': $color2,
  'tertiary': $color3,
  'font-primary': $color4,
  'font-secondary': $color4,
  'white': $color4
);

$myFonts: (
  'primary': 'Roboto',
  'secondary': 'Raleway',
);

$colors: map-merge($colors, $myColors);
$fonts: map-merge($fonts, $myFonts);

@import 'node_modules/nostromo-css/default';
